.fumetteria-content {
	.post-meta {
		margin-bottom: 1em;
		.post-title {
			margin-bottom: 6px;
		}
		.post-excerpt {
			margin-bottom: 10px;
		}
	}
}

.post-thumbnail {
	margin-bottom: 1em;
	img {
		display: block;
	}
}

.post-content {
	p {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 17px;
		line-height: 1.6em;
	}
}

.embed-wrapper {
	position: relative;
	padding-top: 56.25%;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

.fumetteria-post, .fumetteria-archive {
	padding: 10px;
}

.twitter-tweet, .instagram-media {
	margin: auto !important;
}

.fumetteria-sidebar {
	margin-top: 20px;
}

.post-tag {
	background: #313131;
    margin-top: 8px;
    display: inline-block;
    padding: 5px 8px;
    margin-right: 10px;
	border-radius: 6px;
	a {
		color: white;
		text-decoration: none;
		font-weight: 600;
	}
}

.tag-cloud-link {
	background: #313131;
    padding: 5px 8px;
	color: white;
	text-decoration: none;
	font-weight: 600;
	border-radius: 6px;
	&:hover {
		color: #e0e0e0;
	}
	&:visited {
		color: #ffffff;
	}
}

.fumetteria-archive-post {
	align-items: center;
	padding: 1em 0;
	border-bottom: 1px solid #b7b7b7;
	&:last-of-type {
		border: none;
	}
	.post-title a {
		color: #000000;
		text-decoration: none;
	}
	.post-meta {
		margin-bottom: 0;
	}
	.post-thumbnail img {
		margin-bottom: 5px;
	}
}

.search-form {
	margin-top: 10px;
}

@media (min-width: 1280px) {
	.main-content {
		padding: 0;
	}
	.fumetteria-post, .fumetteria-archive {
		display: flex;
		width: 1280px;
		max-width: 1280px;
		margin: auto;
		background: #ffffff;
		padding: 20px 30px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.fumetteria-content {
		flex: 0 0 66.6667%;
		max-width: 66.6667%;
		padding-right: 25px;
	}
	.fumetteria-sidebar {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
		padding-left: 25px;
		border-left: 1px solid #dcdcdc;
		margin-top: 0;
	}
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 27px;
	}
	h4 {
		font-size: 24px;
	}
	h5 {
		font-size: 21px;
	}
	h6 {
		font-size: 19px;
	}
	.fumetteria-archive-post {
		display: flex;
		.post-thumbnail {
			margin-bottom: 0;
			flex: 1;
			margin-right: 20px;
		}
		.post-meta {
			flex: 2;
		}
	}
}