.fumetteria-content {
	.post-meta {
		margin-bottom: 16px;
		.post-title {
			margin-bottom: 6px;
		}
		.post-excerpt {
			margin-bottom: 10px;
		}
	}
}

.post-thumbnail {
	margin-bottom: 16px;
	img {
		display: block;
	}
}

.post-content {
	p {
		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 17px;
		line-height: 1.6em;
		word-break: break-word;
	}
	a {
		text-decoration: underline;
	}
	border-bottom: 1px solid $color__border-content;
}

.page .post-content {
	border: none;
}

.fumetteria-post, .fumetteria-archive {
	padding: 10px 15px;
}

.twitter-tweet, .instagram-media {
	margin: auto !important;
}

.fumetteria-sidebar {
	margin-top: 20px;
}

.post-tag {
	background: $color__background-other;
    margin-top: 8px;
    display: inline-block;
    padding: 5px 8px;
    margin-right: 10px;
	border-radius: 6px;
	a {
		color: $color__text-bg-dark;
		font-weight: 600;
	}
}

.nav-links {
	display: flex;
    justify-content: space-between;
}

.tag-cloud-link {
	background: $color__background-other;
    padding: 5px 8px;
	color: $color__text-bg-dark;
	text-decoration: none;
	font-weight: 600;
	border-radius: 6px;
	&:visited {
		color: $color__text-bg-dark;
	}
}

.fumetteria-archive-post {
	align-items: center;
	padding: 16px 0;
	border-bottom: 1px solid $color__border-content;
	&:last-of-type {
		border: none;
	}
	.post-meta {
		margin-bottom: 0;
	}
	.post-thumbnail img {
		margin-bottom: 5px;
	}
}

.search-form {
	margin-top: 10px;
}

.post-tags {
	margin-top: 10px;
	a {
		margin-right: 8px;
		font-weight: 600;
	}
	.post-categories {
		display: inline-flex;
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 27px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 21px;
}

h6 {
	font-size: 19px;
}

@media (min-width: 1280px) {
	.main-content {
		padding: 0;
	}
	.fumetteria-post, .fumetteria-archive {
		display: flex;
		width: 1280px;
		max-width: 1280px;
		margin: auto;
		background: $color__background-body;
		padding: 20px 30px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.fumetteria-content {
		flex: 0 0 66.6667%;
		max-width: 66.6667%;
		padding-right: 25px;
	}
	.fumetteria-sidebar {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
		padding-left: 25px;
		border-left: 1px solid $color__border-table;
		margin-top: 0;
	}
	.fumetteria-archive-post {
		display: flex;
		.post-thumbnail {
			margin-bottom: 0;
			flex: 1;
			margin-right: 20px;
		}
		.post-meta {
			flex: 2;
		}
	}
}