.header-top {
	height: 60px;
	background-color: black;
	display: flex;
}

.menu-navigation {
	display: flex;
	position: absolute;
    width: 100%;
    z-index: 99999;
	top: 60px;
	background-color: burlywood;
	ul, ol {
		margin: 0;
		list-style-type: none;
	}
	.sub-menu {
		display: none;
	}
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.header-logo, .footer-logo {
	line-height: 0;
	display: block;
	align-self: center;
	svg {
		height: 25px;
	}
}

.header-menu {
	padding: 10px;
	li {
		margin: 10px 0;
	}
}

@media (min-width: 1280px) {
	.header-container {
		width: 1280px;
		max-width: 1280px;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-navigation {
		position: relative;
		width: auto;
		background-color: black;
		top: 0;
		z-index: 1;
	}
	.header-menu {
		display: flex;
		padding: 0;
		align-items: center;
		li a {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
	.header-icon {
		display: none;
	}
}