.header-top {
	height: 60px;
	background-color: $color__background-dark;
	display: flex;
}

.menu-navigation {
	display: none;
	position: absolute;
    width: 100%;
    z-index: 99999;
	top: 60px;
	background-color: #121212;
	ul, ol {
		margin: 0;
		list-style-type: none;
	}
	.sub-menu {
		display: none;
	}
}

.admin-bar .menu-navigation {
	top: 106px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	flex: auto;
    align-items: center;
}

.header-logo, .footer-logo, .menu-bars, .dark-mode-header {
	line-height: 0;
	display: block;
	align-self: center;
	svg {
		height: 25px;
	}
}

.header-logo svg {
	padding-left: 10px;
    width: 100%;
}

.menu-bars svg, .dark-mode-header svg {
	padding-right: 10px;
}

.dark-mode-header svg {
	margin-left: 10px;
}

.header-menu {
	padding: 10px;
	li {
		margin: 10px 0;
	}
}

.fumetteria-footer {
	padding: 25px 0;
    background: $color__background-other;
	text-align: center;
	.footer-social {
		.footer-icon {
			width: 10%;
			display: inline-block;
			margin: 0 10px;
		}
	}
	.footer-text {
		margin-top: 10px;
	}
	p {
		color: $color__text-bg-dark;
	}
}

.header-menu, .fumetteria-footer {
	a {
		color: $color__text-bg-dark;
		font-weight: 600;
	}
}

.menu-bars {
	margin-left: auto;
}

.navigation.posts-navigation {
	margin-top: 10px;
}

@media (min-width: 1280px) {
	.header-container {
		width: 1280px;
		max-width: 1280px;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-navigation {
		display: block;
		position: relative;
		width: auto;
		background-color: $color__background-dark;
		top: 0;
		z-index: 1;
		margin-left: auto;
		margin-right: 10px;
		.menu-item-has-children:hover {
			background-color: #1d1d1d;
			transition: all .1s ease-in-out;
			-webkit-transition: all .1s ease-in-out;
			@media only screen and (max-width: 768px) {
				transition: none;
				background-color: $color__background-dark;
			}
			&.menu-item a {
				color: $color__text-bg-dark;
			}
			.sub-menu, .sub-menu:hover {
				display: block;
				position: absolute;
				background-color: $color__background-dark;
				padding: 10px;
				a {
					color: $color__text-bg-dark;
					padding: 0;
				}
				@media only screen and (max-width: 768px) {
					a {
						padding: 10px;
						&:hover {
							color: $color__text-bg-dark;
						}
					}
				}
			}
		}
	}
	.header-menu {
		display: flex;
		padding: 0;
		align-items: center;
		li a {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
	.menu-bars {
		display: none;
	}
	.admin-bar .menu-navigation {
		top: 0;
	}
	.header-logo svg {
		padding-left: 0;
	}
	.fumetteria-footer {
		margin-top: 20px;
		.footer-social {
			.footer-icon {
				width: 2%;
			}
		}
	}
	.dark-mode-header svg {
		padding-right: 0;
	}
}