.header-top {
	height: 60px;
	background-color: black;
	display: flex;
}

.menu-navigation {
	display: none;
	position: absolute;
    width: 100%;
    z-index: 99999;
	top: 60px;
	background-color: #121212;
	ul, ol {
		margin: 0;
		list-style-type: none;
	}
	.sub-menu {
		display: none;
	}
}

.admin-bar .menu-navigation {
	top: 106px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	flex: auto;
    align-items: center;
}

.header-logo, .footer-logo, .menu-bars {
	line-height: 0;
	display: block;
	align-self: center;
	svg {
		height: 25px;
	}
}

.header-logo svg {
	padding-left: 10px;
    width: 100%;
}

.menu-bars svg {
	padding-right: 10px;
}

.header-menu {
	padding: 10px;
	li {
		margin: 10px 0;
		a {
			color: #ffffff;
			text-decoration: none;
			font-weight: 600;
		}
	}
}

.fumetteria-footer {
	padding: 25px 0;
    background: #2d2d2d;
	text-align: center;
	.footer-social {
		.footer-icon {
			width: 10%;
			display: inline-block;
			margin: 0 10px;
		}
	}
	.footer-text {
		margin-top: 10px;
	}
	p {
		color: #ffffff;
	}
	a {
		color: #ffffff;
		font-weight: 600;
		text-decoration: none;
	}
}

@media (min-width: 1280px) {
	.header-container {
		width: 1280px;
		max-width: 1280px;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-navigation {
		display: block;
		position: relative;
		width: auto;
		background-color: black;
		top: 0;
		z-index: 1;
		.menu-item-has-children:hover {
			background-color: #1d1d1d;
			transition: all .1s ease-in-out;
			-webkit-transition: all .1s ease-in-out;
			@media only screen and (max-width: 768px) {
				transition: none;
				background-color: #000000;
			}
			&.menu-item a {
				color: white;
			}
			.sub-menu, .sub-menu:hover {
				display: block;
				position: absolute;
				background-color: #000000;
				padding: 10px;
				a {
					color: #ffffff;
					padding: 0;
					&:hover {
						color: #cdcdcd;
					}
				}
				@media only screen and (max-width: 768px) {
					a {
						padding: 10px;
						&:hover {
							color: #FFFFFF;
						}
					}
				}
			}
		}
	}
	.header-menu {
		display: flex;
		padding: 0;
		align-items: center;
		li a {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
	.menu-bars {
		display: none;
	}
	.admin-bar .menu-navigation {
		top: 0;
	}
	.header-logo svg {
		padding-left: 0;
	}
	.fumetteria-footer {
		margin-top: 20px;
		.footer-social {
			.footer-icon {
				width: 2%;
			}
		}
	}
}