button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__background-other;
	color: $color__text-bg-dark;
	padding: 3px 8px;
	font-weight: 600;
	border-radius: 6px;
	border: 1px solid $color__border-button;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
